*.suo
*.csproj.user
*.sublime-project
*.sublime-workspace
*.DS_STORE
*.sln.ide
node_modules/
packages
packages/
bin/
obj/
octo/
*.DotSettings.user
build
*.diff
*.patch
TestResults/
*.orig
.vs/
desktop.ini
user.app.config
.idea
riderModule.iml